
/** Styles */

button {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

body {
    background-color: grey;
}

p {
    color: whitesmoke;
}


/** Day-Modus*/

body.day {
    background-color: whitesmoke;
}

p.day,h1.day{
    color: blue;
}


/** Night-Modus */

body.night {
    background-color: brown;
}

p.night,h1.night{
    color: greenyellow;
}

